.comment
	.user_name=comment.user
	.created_at=comment.created_at.strftime("%B %d, %Y")
	.description=comment.description
	.actions
		=link_to "Reply", new_kitty_comment_path(:parent_id => comment.id, kitty_id: @kitty.id)
		