-@kitty.each do |kitty|
	.whole_kitty
		.kitty_object
			.thumb_image
				=image_tag kitty.image_url(:thumb).to_s
			.kitty_info
				=kitty.link
				.description=link_to kitty.description, kitty_path(kitty.id)
				.kitty_details
					%p="By: #{kitty.user.username}"
					%p="created: #{kitty.time_ago.to_s} minutes ago"
					%p="#{kitty.comments.count} comments"
			.vote_information
				.down_vote
					=link_to image_tag("down_arrow.gif"), votes_path({kitty_id: kitty.id, up: false}), method: :post, remote: :true
				.aggregate_vote
					="#{kitty.aggregate}"
				.up_vote
					=link_to image_tag("up_arrow.gif"), votes_path({kitty_id: kitty.id, up: true}), method: :post, remote: :true