-@kitty.each do |kitty|
	.kitty_object
		.down_vote
			=link_to "D", votes_path({kitty_id: kitty.id, up: false}), method: :post, remote: :true
		.aggregate_vote
			="#{kitty.aggregate}"
		.up_vote
			=link_to "U", votes_path({kitty_id: kitty.id, up: true}), method: :post, remote: :true
		.kitty_info
			=kitty.link
			%p
				=link_to kitty.description, kitty_path(kitty.id)
			="posted: #{kitty.time_ago.to_s} minutes ago"
		.thumb_image
			=image_tag kitty.image_url(:thumb).to_s