.new_kitty
	=form_for @kitty, :html => {:multipart => true} do |t|
		=t.label :link
		=t.text_area :link, placeholder: "link to image", cols: "60", rows: "1"
		%p OR
		=t.file_field :image
		=t.label :description
		=t.text_area :description, cols: "60", rows: "6"
		=t.submit