.kitty_profile
	.kitty
		=@kitty.description
		%p="Posted By: #{@kitty.user.username}"
		%p="Total Votes: #{@kitty.aggregate}"
		=@kitty.link
		.kitty_image=image_tag @kitty.image_url(:medium).to_s

	//=render @comment.parent if @comment.parent
.kitty_comments
	=render '/comments/form'
	=nested_comments @kitty.comments.arrange(order: :created_at)
