%h1 kitty Stuff
=@kitty.link
=@kitty.description

%h2 Comment Stuff
//=render @comment.parent if @comment.parent

=nested_comments @kitty.comments.arrange(order: :created_at)
=render '/comments/form'
