.comment {
  margin: 8px 0;
  padding: 8px 15px;
  width: 300px;
  border-radius: 12px;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #BFD3D1),
      color-stop(1, #BFD3D1)
  );
  background-image: -moz-linear-gradient(
      center bottom,
      #CCC 0%,
      #F5F5F5 100%
  );
}

.comment .description a {
  text-decoration: none;
}

.comment .created_at {
  color: #555;
  font-size: 12px;
  float: right;
}

.comment .user_name {
  font-size: 12px;
}

.comment .actions {
  font-size: 12px;
  margin-top: 5px;
  color: #D89B8E;
}

.comment .actions a {
  text-decoration: none;
}

.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}
