.new_kitty {
  height: 3em;
  width: 5em;
	display: inline-box;
}

.kitty_profile{
  padding: 0em 5em 0em 7em;
	.kitty{
	  width: 35em;
	  height: 7em;
		display: inline-box;
		float:left;	
		background-color: #D89B8E;
		border-radius: .5em;
		margin-bottom: 3em;
	  padding: 1em 1em 1em 1em;
	.kitty_image {
	  position: relative;
		display: inline-box;
		padding-top:4em;
  }
	}
}

.kitty_comments{
  padding-left: 2em;
	display: inline-block;
	position:relative;
	color: #2F3440;
	height: 100%;
	a {
	  color: #D89B8E;
	}
}

.whole_kitty{
	width: 100%;
}

