.new_kitty {
  height: 3em;
  width: 5em;
	display: inline-box;
}

.comments{
  display: inline-block;
  position: relative;
  width: 20em;
}

.kitty_profile{
	display: inline-block;
  position: relative;
  width: 35em;
  float: left;
}

form {
	color:#009A12;
}