.new_kitty {
  height: 3em;
  width: 5em;
	display: inline-box;
}

.kitty_profile{
	width: 75%;
}

.kitty{
  width: 9em;
	display: inline-box;
	float:left;	
}

.kitty_comments{
	display: inline-box;
	float: right;
}