// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
  background: WhiteSmoke;
	border:1px solid #ccc;
	border-width:1px 0;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}

nav a {
	display:inline-block;
	padding:10px;
	color: black;
	text-decoration: none;
	font-family: "Droid Sans";
}

.main{
	margin: 0 auto;
	padding: 1em 2em 1em 2em;
}

.kitty_object {
  margin-top: 1em;
	border: 2px solid black;
	display: block;
	position: relative;
}

.kitty_info {
	display: inline-block;
	position: relative;
	width: 53em;
	color: gray;
}

.thumb_image {
	display: inline-block;
	position: relative;
	border: 0.2em solid gray;
	margin: .5em .5em .5em .5em;
}

.up_vote {
	display: inline-block;
	position: relative;
	width: 3em;
	height: 3em;
	background-image: url("/assets/up_arrow.gif");
	background-repeat: no-repeat;
	margin-left: 1em;
}

.down_vote {
	background-image: url("/assets/down_arrow.gif");
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	width: 3em;
	height: 3em;
}


