// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #F3EEDA;
  font-family: "Droid Sans";
}

.logo {
	width: 2.5em;
	height: 2.4em;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}

.user_nav {
  display: inline-block;
  position: relative;
}

.forever_nav {
  display: inline-block;
}

nav {
	list-style:none;
	margin:0;
	padding-left:1em;
}

nav a {
	display:inline-block;
	padding:10px;
	color: #548DA9;
	text-decoration: none;
	font-family: "Droid Sans";
		a:visited{
		  color: #548DA9;
	}
}

.main{
	margin: 0 auto;
	padding: 1em 2em 1em 2em;
}

.kitty_object {
  margin-top: 1em;
	border-radius: .5em;
	display: block;
	position: relative;
	background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #BFD3D1),
      color-stop(1, #BFD3D1)
  );
  background-image: -moz-linear-gradient(
      center bottom,
      #F5E5C0 50%,
      #F5F5F5 50%
  );
}


.kitty_info {
	display: inline-block;
	position: relative;
	width: 53em;
	color: #548DA9;
	text-align: center;
	font-family: "Droid Sans";
	a{
	  color:#D89B8E;
		a:visited  {
		  color:#D89B8E;
	  }
  } 
}

.thumb_image {
	display: inline-block;
	position: relative;
	margin: .5em .5em .5em .5em;
}

.up_vote {
	display: inline-block;
	position: relative;
	width: 3em;
	height: 3em;
	margin-left: 1em;
}

.down_vote {
	display: inline-block;
	position: relative;
	width: 3em;
	height: 3em;
}

.aggregate_vote {
	display: inline-block;
	position: relative;
}

