// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: black;
}

.logo {
	width: 2.5em;
	height: 2.4em;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
	padding-right:29px;
}

.user_nav {
  display: inline-block;
  position: relative;
  float:right;
}

.forever_nav {
  display: inline-block;
}

nav {
	list-style:none;
	margin:0;
	padding-left:1em;
}

nav a {
	display:inline-block;
	padding:10px;
	color: gray;
	text-decoration: none;
	font-family: "Droid Sans";
	a:visited{
	  color: gray;
	}
}

.main{
	margin: 0 auto;
	padding: 1em 2em 1em 2em;
}

.kitty_object {
  margin-top: 1em;
	border: 2px solid White;
	border-radius: .5em;
	display: block;
	position: relative;
	background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #CCC),
      color-stop(1, #F5F5F5)
  );
  background-image: -moz-linear-gradient(
      center bottom,
      #CCC 0%,
      #F5F5F5 100%
  );
}


.kitty_info {
	display: inline-block;
	position: relative;
	width: 53em;
	color: gray;
	text-align: center;
	font-family: "Droid Sans";
	a:visited  {
	  color:green;
  } 
}

.thumb_image {
	display: inline-block;
	position: relative;
	border: 0.2em solid white;
	margin: .5em .5em .5em .5em;
}

.up_vote {
	display: inline-block;
	position: relative;
	width: 3em;
	height: 3em;
	margin-left: 1em;
}

.down_vote {
	display: inline-block;
	position: relative;
	width: 3em;
	height: 3em;
}

.aggregate_vote {
	display: inline-block;
	position: relative;
}

